@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.loading {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    border: 0.5rem solid rgba(255, 255, 255, 0.8);
    border-top-color: orange;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.blinkbutton {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.2; }
}
